* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
}

.modal-btn {
    margin-top: 5%;
    margin-left: 10%;
    padding: 1.5%;
    border: none;
    text-align: center;
    font-size: 90%;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5%;
}

.modal-btn:hover {
    background-color: #b7b7b7;
    cursor: pointer;
}

.modal-container {
    /* display: none; */
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.4s;
}
.modal-container.active {
    /* display: block; */
    visibility: visible;
}

.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
    transition: opacity 0.4s 0.2s ease-out;
}
.modal-container.active .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.modal {
    opacity: 0;
    width: 95%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    transition: opacity 0.4s ease-out,
    transform 0.4s ease-out;
}

.modal-container.active .modal {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
    transform 0.4s 0.2s ease-out;
}

.close-modal {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 25%;
    right: 15%;
    cursor: pointer;
    background: #dcdcdc;
    color: #2d2d2d;
}

.close-modal:hover {
    background-color: #b7b7b7;
}

.modal h1 {
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}
.modal p {
    line-height: 1.4;
    margin-bottom: 5px;
}